<div class="home">

<div class="row post" ng-repeat="posts in home.data">
<div class="col-md-1 position">
	<h3>{{posts.id}}</h3>
</div>
  <div class="col-md-1 vote">
	<i class="fa fa-arrow-up" aria-hidden="true" ng-click="home.postLikes(posts)" ng-init="count=0"></i>
	<h3>{{posts.likes | number}}</h3>
	<i class="fa fa-arrow-down" aria-hidden="true" ng-click="home.postLikes(posts)" ng-init="count=0"></i>
  </div>
  <div class="col-md-9 postContent">
  	<ul>
		<li class="topPost"><h2>{{posts.title}}</h2><p>{{posts.url}}</p></li>
		<li><i class="fa fa-comments" aria-hidden="true"></i><a ui-sref="comment_id"><p>(0) comments</p></a></li>
		</ul>
  </div>
</div>
</div>